html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

h1 {
  margin-left: 10px;
}

.search-form {
  margin-left: 10px;
  margin-bottom: 25px;
}

.gallery {
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: calc(100% - 30px);
  margin-left: auto;
  margin-right: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
}

.stats {
  display: inline-flex;
  font-size: 12px;
}

.material-icons {
  margin: 20px;
  width: 2px;
}

.more {
  display: none;
}

.isOn {
  display: block;
}
